<!DOCTYPE html>
<html lang="en">

<head data-bs-theme="light" data-pwa="true">
    <meta charset="utf-8" />
    <!-- Viewport -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <!-- SEO Meta Tags -->
    <title>Deuce | Account - Sign In</title>
    <meta name="description" content="Deuce, tournament organizer">
    <meta name="keywords"
        content="Deuce, tournament organizer, tennis, mma, martial arts, competition, creator,verses,ranking">
    <meta name="author" content="Tong Pine">
    <!-- Webmanifest + Favicon / App icons -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="assets/js/theme-switcher.js"></script>
    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin="">

    <!-- Font icons -->
    <link rel="preload" href="assets/icons/finder-icons.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="assets/icons/finder-icons.min.css">
    <!-- Calendar -->
    <link rel="stylesheet" href="assets/vendor/flatpickr/flatpickr.min.css">
    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="assets/css/theme.min.css" as="style">
    <link href="assets/css/theme.rtl.min.css">
    <link rel="stylesheet" href="assets/css/theme.min.css" id="theme-styles">

</head>

<body>
    <div class="container">
        <main role="main" class="content-wrapper w-100 px-3 ps-lg-5 pe-lg-4 mx-auto">
            @RenderBody()
        </main>
    </div>
</body>

</html>