@model ViewModelTournamentWizard
@{
    Layout="_LayoutTournamentWizard";
}
@{
  string attrValidation = Model.Validated ? "was-validated" : "";
}
<!-- Page content -->
  <form id="page_form" method="post" class="col-lg-9 col-xl-8 needs-validation @attrValidation" asp-controller="TSchedule" asp-action="Save" novalidate>
      <!-- Property location inputs -->
      <div class="col-lg-9 col-xl-8">
        <h1 class="h2 pb-1 pb-lg-2">Schedule</h1>
        <div class="row row-cols-2 row-cols-sm-2 g-3 g-sm-4 pb-3 pb-sm-4 mb-xl-2">
          <div class="col">
            <label class="form-label">Start *</label>
            <div class="position-relative">
              <input type="text" class="form-control form-icon-end" asp-for="Tournament.Start"  data-datepicker='{"dateFormat": "d/m/Y"}' placeholder="Choose date" >
    
              <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
            </div>
          </div>
        
        </div>
        <div class="row row-cols-2 row-cols-sm-2 g-3 g-sm-4 pb-3 pb-sm-4 mb-xl-2">
          <div class="col-md-8">
            <label class="form-label">Repeats *</label>
            <select class="form-select form-select-lg" asp-for="Tournament.Interval" asp-items="Model.SelectInterval" required>
            </select>
            <div class="invalid-feedback">Specify interval</div>
          </div>
        </div>

      </div>
</form>
