@model ViewModelTournamentWizard;
@{
  Layout = "_LayoutTournamentWizard";
}
<style>
  .zero-height {
    height: 0;
    overflow: hidden;
  }
</style>
<!-- Page content -->

<form id="page_form" class="col-lg-9 col-xl-8" asp-action="Save" method="post">
  <!-- Property location inputs -->
  <h1 class="h2 pb-1 pb-lg-2">@Model.Title</h1>
  <div class="row row-cols-2 row-cols-sm-2 g-3 g-sm-2 pb-3 pb-sm-4 mb-xl-2">
    <div class="col">
      <label class="form-label" >Team Size *</label>
      <select class="form-select form-select-lg" onchange="showHideElement('Format.TeamSize','team_size_cont','99')"
        asp-for="Tournament.TeamSize" asp-items="Model.SelectTeamSize" value="@Model.Tournament.TeamSize">
      </select>
    </div>
    <div class="col">
      <label class="form-label" asp-for="TournamentDetail.Games">Games per set *</label>
      <select class="form-select form-select-lg" asp-for="TournamentDetail.Games" asp-items="Model.SelectGamesPerSet"
        onchange="showHideElement('TournamentDetail.Games','fixed_game_2','99')" >
      </select>
    </div>
    <div class="col invisible zero-height" id="team_size_cont">
      <label class="form-label" >Specify team Size *</label>
      <input class="form-control form-control-lg" asp-for="CustomTeamSize" placeholder="2" />
    </div>
    <div class="col invisible zero-height" id="fixed_game_2">
      <label class="form-label" asp-for="CustomGames">Specify number of games *</label>
      <input class="form-control form-control-lg" asp-for="CustomGames" placeholder="2" />
    </div>
  </div>

  <div class="row row-cols-2 row-cols-sm-2 g-3 g-sm-2 pb-3 pb-sm-4 mb-xl-2">
    <div class="col">
      <label class="form-label" asp-for="TournamentDetail.Sets">Sets *</label>
      <select class="form-select form-select-lg" id="Format_Sets" asp-for="TournamentDetail.Sets" asp-items="Model.SelectSets">
      </select>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 g-3 g-sm-4 pb-3 pb-sm-4 mb-xl-2">
    <div class="col">
      <label class="form-label" asp-for="Format.NoSingles">No Singles *</label>
      <select class="form-select form-select-lg" asp-for="Format.NoSingles"
        onchange="showHideElement('Format.NoSingles','no_singles_cont','99')"
        asp-items="Model.SelectNoGames">
      </select>
    </div>
    <div class="col">
      <label class="form-label" asp-for="Format.NoDoubles">No Doubles *</label>
      <select class="form-select form-select-lg" onchange="showHideElement('Format.NoDoubles','no_doubles_cont','99')"
        asp-for="Format.NoDoubles" asp-items="Model.SelectNoGames">
      </select>
    </div>
    <div class="col invisible zero-height" id="no_singles_cont">
      <label class="form-label" asp-for="CustomSingles">Specify number of singles *</label>
      <input class="form-control form-control-lg" asp-for="CustomSingles" placeholder="2" />
    </div>
    <div class="col invisible zero-height" id="no_doubles_cont">
      <label class="form-label" asp-for="CustomDoubles">Specify number of doubles *</label>
      <input class="form-control form-control-lg" asp-for="CustomDoubles" placeholder="2" />
    </div>
  </div>
  @{
    string showError = String.IsNullOrEmpty(Model.Error) ? "invisible" : "visible";
  }
  <div><span class="text-bg-danger p-3 @showError">**&nbsp;@Model.Error</span></div>
</form>

<script src="~/js/TournamentFormatTeam.js"> </script>