@page
@model SummaryPageModel
@{
  Layout = "_LayoutAccount";
}
@using deuce;
@using deuce.ext;
@using System.Reflection;

<!-- Page content -->
<div class="col-lg-9">
  <h1 class="h2 pb-2 pb-lg-3">@Model.Tournament?.Label</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        @{
          string htmlTour = (Model.Tournament is not null) ? await Model._displayToHTML.ExtractDisplayProperty(Model.Tournament) : "";
          string htmlTourDetails = (Model.TournamentDetail is not null) ? await Model._displayToHTML.ExtractDisplayProperty(Model.TournamentDetail) : "";

        }

        @Html.Raw(htmlTour)
        @Html.Raw(htmlTourDetails)

      </tbody>
    </table>

    <form class="needs-validation" novalidate id="page_form" action="~/Summmary" method="POST">
      <a class="btn btn-primary">Start</a>
      <a class="btn btn-primary">Edit</a>
      <input id="action" name="action" type="hidden" value="start" />
    </form>
  </div>

</div>

<script>
  function submitWithAction(action) {
    //Set the hidden input 
    const eAction = document.getElementById("action");
    eAction.setAttribute("value", action);
    //Submit form
    document.getElementById("page_form").submit();


  }
</script>
