@page
@model TournamentPostingPageModel
@{
  Layout = "_LayoutWizard";
}
<!-- Page content -->
<div class="col-lg-9">
  <h1 class="h2 pb-2 pb-lg-3">Post Tournament.</h1>
  <div class="pb-2 pb-lg-3"><span>If you proceed, a posting fee of $@Model.Fee will be charged. The tournament will then
      be scheduled. Once scheduled, scores and printouts will be available, and changes will be limited. Alternatively,
      you can wait for more entries before proceeding.
    </span></div>
  <div class="vstack gap-4">
    <!-- Settings form -->
    @{

    }

    <form class="needs-validation" novalidate id="page_form" action="~/TournamentPosting" method="POST">
      <div class="position-relative mb-4">
        <div class="form-check" >
          <input type="radio" class="form-check-input" id="post" name="posting" checked>
          <label for="post" class="form-check-label">Post Tournament !</label>
        </div>
        <div class="form-chec>
          <input type="radio" class="form-check-input" id="wait" name="posting">
          <label for="wait" class="form-check-label">Wait</label>
        </div>
      </div>
    </form>
  </div>

</div>