@page
@model TournamentSchedulePageModel
@{
    Layout="_LayoutWizard";
}

<!-- Page content -->
  <form id="page_form" method="post" class="col-lg-9 col-xl-8">
      <!-- Property location inputs -->
      <div class="col-lg-9 col-xl-8">
        <h1 class="h2 pb-1 pb-lg-2">Schedule</h1>
        <div class="row row-cols-2 row-cols-sm-2 g-3 g-sm-4 pb-3 pb-sm-4 mb-xl-2">
          <div class="col">
            <label class="form-label">Start *</label>
            <div class="position-relative">
              <input type="text" class="form-control form-icon-end" id="StartDate" data-datepicker placeholder="Choose date" name="StartDate" value="@Model.StartDate">
    
              <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
            </div>
          </div>
        
        </div>
        <div class="row row-cols-2 row-cols-sm-2 g-3 g-sm-4 pb-3 pb-sm-4 mb-xl-2">
          <div class="col-md-8">
            <label class="form-label">Repeats *</label>
            <select class="form-select form-select-lg" aria-label="Repeat Interval" name="RepeatInterval"
            asp-for="Interval" asp-items="Model.SelectInterval">
            </select>
          </div>
        </div>

      </div>
</form>
