@model deuce.Account
@using deuce

<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-pwa="true">

<head>
  <meta charset="utf-8">

  <!-- Viewport -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

  <!-- SEO Meta Tags -->
  <title>Deuce | Account - Sign Up</title>
  <meta name="description" content="Deuce -  Sign up to deuce!">
  <meta name="keywords"
    content="tournament, tennis, squash, pickle ball, badminton, martial art, mma, table tennis,organization, scores, print out">
  <meta name="author" content="The emperor">

  <!-- Webmanifest + Favicon / App icons -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  @* <link rel="manifest" href="/manifest.json"> *@
  <link rel="icon" type="image/png" href="~/assets/app-icons/icon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="~/assets/app-icons/icon-180x180.png">

  <!-- Theme switcher (color modes) -->
  <script src="~/assets/js/theme-switcher.js"></script>

  <!-- Preloaded local web font (Inter) -->
  <link rel="preload" href="~/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin>

  <!-- Font icons -->
  <link rel="preload" href="~/assets/icons/finder-icons.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="~/assets/icons/finder-icons.min.css">

  <!-- Bootstrap + Theme styles -->
  <link rel="preload" href="~/assets/css/theme.min.css" as="style">
  <link rel="preload" href="~/assets/css/theme.rtl.min.css" as="style">
  <link rel="stylesheet" href="~/assets/css/theme.min.css" id="theme-styles">
</head>


<!-- Body -->

<body>

  <!-- Page content -->
  <main class="content-wrapper w-75 px-3 ps-lg-0 pe-lg-4" style="max-width: 1920px">
    <div class="">

      <!-- Login form + Footer -->
      <div class="min-vh-100 w-75 py-4 ms-5 me-lg-5">

        <!-- Logo -->
        <header class="navbar px-0 pb-4 mt-n2 mt-sm-0 mb-2 mb-md-3 mb-lg-4">
          <a class="navbar-brand pt-0" href="index.html">
            <span class="d-flex flex-shrink-0 text-primary rtl-flip me-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34">
                <path
                  d="M34.5 16.894v10.731c0 3.506-2.869 6.375-6.375 6.375H17.5h-.85C7.725 33.575.5 26.138.5 17c0-9.35 7.65-17 17-17s17 7.544 17 16.894z"
                  fill="currentColor" />
                <g fill-rule="evenodd">
                  <path
                    d="M17.5 13.258c-3.101 0-5.655 2.554-5.655 5.655s2.554 5.655 5.655 5.655 5.655-2.554 5.655-5.655-2.554-5.655-5.655-5.655zm-9.433 5.655c0-5.187 4.246-9.433 9.433-9.433s9.433 4.246 9.433 9.433a9.36 9.36 0 0 1-1.569 5.192l2.397 2.397a1.89 1.89 0 0 1 0 2.671 1.89 1.89 0 0 1-2.671 0l-2.397-2.397a9.36 9.36 0 0 1-5.192 1.569c-5.187 0-9.433-4.246-9.433-9.433z"
                    fill="#000" fill-opacity=".05" />
                  <g fill="#fff">
                    <path
                      d="M17.394 10.153c-3.723 0-6.741 3.018-6.741 6.741s3.018 6.741 6.741 6.741 6.741-3.018 6.741-6.741-3.018-6.741-6.741-6.741zM7.347 16.894A10.05 10.05 0 0 1 17.394 6.847 10.05 10.05 0 0 1 27.44 16.894 10.05 10.05 0 0 1 17.394 26.94 10.05 10.05 0 0 1 7.347 16.894z" />
                    <path
                      d="M23.025 22.525c.645-.645 1.692-.645 2.337 0l3.188 3.188c.645.645.645 1.692 0 2.337s-1.692.645-2.337 0l-3.187-3.187c-.645-.646-.645-1.692 0-2.337z" />
                  </g>
                </g>
                <path
                  d="M23.662 14.663c2.112 0 3.825-1.713 3.825-3.825s-1.713-3.825-3.825-3.825-3.825 1.713-3.825 3.825 1.713 3.825 3.825 3.825z"
                  fill="#fff" />
                <path fill-rule="evenodd"
                  d="M23.663 8.429a2.41 2.41 0 0 0-2.408 2.408 2.41 2.41 0 0 0 2.408 2.408 2.41 2.41 0 0 0 2.408-2.408 2.41 2.41 0 0 0-2.408-2.408zm-5.242 2.408c0-2.895 2.347-5.242 5.242-5.242s5.242 2.347 5.242 5.242-2.347 5.242-5.242 5.242-5.242-2.347-5.242-5.242z"
                  fill="currentColor" />
              </svg>
            </span>
            Deuce
          </a>
        </header>

        <h1 class="h2 mt-auto">Create an account</h1>

        <!-- Form -->
        <form class="needs-validation" novalidate asp-controller="Account" asp-action="Register" method="post">
          <div class="mt-4 mb-4">
            <div class="form-check mb-4">
              <input type="radio" class="form-check-input" id="ex-acc-type-1"  checked asp-for="Type"
                value="1">
              <label for="ex-acc-type-1" class="form-check-label">Player</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="ex-acc-type-2" asp-for="Type" value="2">
              <label for="ex-acc-type-2" class="form-check-label">Organization</label>
            </div>
          </div>
          <div class="position-relative mt-4 mb-4">
            <label for="register-email" class="form-label">Email</label>
            <input type="email" class="form-control form-control-lg" id="register-email" asp-for="Email" required>
            <div class="invalid-tooltip bg-transparent py-0">Enter a valid email address!</div>
          </div>
          <div class="mb-4">
            <label for="register-password" class="form-label">Password</label>
            <div class="password-toggle">
              <input type="password" class="form-control form-control-lg" id="register-password" minlength="8"
                placeholder="Minimum 8 characters" asp-for="Password" required>
              <div class="invalid-tooltip bg-transparent py-0">Password does not meet the required criteria!</div>
              <label class="password-toggle-button fs-lg" aria-label="Show/hide password">
                <input type="checkbox" class="btn-check">
              </label>
            </div>
          </div>
          <div class="position-relative mt-4 mb-4">
            <label for="country" class="form-label">Country</label>
            <select class="form-select" data-select aria-label="Basic select example" asp-for="Country">
              @{
                List<Country> countries = (ViewData["countries"] as List<Country>) ?? new();
              }
              @foreach(var country in countries)
              {
                @if (country.Code == 36)
                {
                  <option value="@(country.Code)" selected>@(country.Name)</option>
                }
                else
                {
                  <option value="@(country.Code)" >@(country.Name)</option>
                }

              }
            </select>
            <div class="invalid-tooltip bg-transparent py-0">Select a country!</div>
          </div>

          <div class="d-flex flex-column gap-2 mb-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="privacy" required>
              <label for="privacy" class="form-check-label">I have read and accept the <a class="text-dark-emphasis"
                  href="#!">Privacy Policy</a></label>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-primary w-100">
            Create an account
            <i class="fi-chevron-right fs-lg ms-1 me-n1"></i>
          </button>
        </form>

        <!-- Divider -->
        <div class="d-flex align-items-center my-4">
          <hr class="w-100 m-0">
          <span class="text-body-emphasis fw-medium text-nowrap mx-4">or continue with</span>
          <hr class="w-100 m-0">
        </div>

        <!-- Social login -->
        <div class="d-flex flex-column flex-sm-row gap-3 pb-4 mb-3 mb-lg-4">
          <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
            <i class="fi-google ms-1 me-1"></i>
            Google
          </button>
          <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
            <i class="fi-facebook ms-1 me-1"></i>
            Facebook
          </button>
          <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
            <i class="fi-apple ms-1 me-1"></i>
            Apple
          </button>
        </div>

        <!-- Footer -->
        <footer class="mt-auto">
          <div class="nav mb-4">
            <a class="nav-link text-decoration-underline p-0" href="help-topics-v1.html">Need help?</a>
          </div>
          <p class="fs-xs mb-0">
            &copy; All rights reserved. Made by <a
              class="hover-effect-underline text-dark-emphasis text-decoration-none" href="https://createx.studio/"
              target="_blank" rel="noreferrer">The emporer</a>
          </p>
        </footer>
      </div>


    </div>
  </main>


  <!-- Bootstrap + Theme scripts -->
  <script src="~/assets/js/theme.min.js"></script>
</body>

</html>
